.title {
	color: rgb(101, 6, 255);
	background-color: rgb(200, 240, 255);
	text-align: center;
	font-family: serif;
	border: 4px ridge rgb(16, 79, 99);
	width: 400px;
	margin: 0 auto;
}
h2 {
	text-align: center;
	color: teal;
	font-family: serif;
	text-decoration: underline;
}
li {
	color: teal;
	font-family: sans-serif;
}
.row {
	display: flex;
}

.column {
	flex: 40%;
	text-align: left;
	border: .5rem solid grey;
	background-color: rgb(200, 240, 255);
}
body {
	background-color: whitesmoke;
}
.topnav {
	background-color: whitesmoke;
	overflow: hidden;
	font-family: cursive;
}
